@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,400;1,900&display=swap");

:root {
  --naranja: #ff9800;
  --negro: #202329;
  --blanco: #ffffff;
  --fondo-tarjetero: #24282f;
  --fondo-tarjetas: #3c3e44;
}

:root {
  --tipografia-texto: "Noto Sans Display", sans-serif;
}

html {
  font-size: 16px;
}
